In [2]:
import pandas as pd

In [3]:
#import data for 2017 parks
park_data_csv = pd.read_csv('city_park_data\\Acreage_Table.csv', sep = '\t', encoding='UTF-16')
park_data_csv.head()

             City City Adj. Land Area Park Acres  % of City Area
0   Anchorage, AK           1,087,624     871,795            80%
1     Fremont, CA              49,927      21,957            44%
2  Chesapeake, VA             216,010      58,693            27%
3  Scottsdale, AZ             117,587      31,598            27%
4      Irvine, CA              41,991      11,008            26%

In [4]:
#cleaning down to columns needed
park_data_df = park_data_csv[['City', 'Park Acres ', '% of City Area']]
park_data_df.rename(columns={'City':'CityState', 'Park Acres ':'park_acres', '% of City Area': 'percent_of_city_area'}, inplace=True)
park_data_df

C:\Users\noahs\AppData\Local\Temp\ipykernel_20824\3891959973.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_data_df.rename(columns={'City':'CityState', 'Park Acres ':'park_acres', '% of City Area': 'percent_of_city_area'}, inplace=True)

                CityState park_acres percent_of_city_area
0           Anchorage, AK    871,795                  80%
1             Fremont, CA     21,957                  44%
2          Chesapeake, VA     58,693                  27%
3          Scottsdale, AZ     31,598                  27%
4              Irvine, CA     11,008                  26%
..                    ...        ...                  ...
95               Mesa, AZ      2,470                   3%
96        Baton Rouge, LA      1,455                   3%
97            Lubbock, TX      2,228                   3%
98  Lexington/Fayette, KY      4,447                   2%
99            Hialeah, FL        238                   2%

[100 rows x 3 columns]

In [5]:
park_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CityState             100 non-null    object
 1   park_acres            100 non-null    object
 2   percent_of_city_area  100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [6]:
#Identifying that the column contains a comma
#!!!THIS STEP WILL ERROR BECAUSE IT HAS ALREADY BEEN COMPLETED!!!
park_data_df['park_acres'].str.contains(',').any()

True

In [7]:
#Replacing the commas with no values
#!!!THIS STEP WILL ERROR BECAUSE IT HAS ALREADY BEEN COMPLETED!!!
park_data_df['park_acres'] = park_data_df['park_acres'].str.replace(',', '')

C:\Users\noahs\AppData\Local\Temp\ipykernel_20824\4084628590.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_data_df['park_acres'] = park_data_df['park_acres'].str.replace(',', '')

In [8]:
#Converting from object to numeric value 
#!!!THIS STEP WILL ERROR BECAUSE IT HAS ALREADY BEEN COMPLETED!!!
park_data_df['park_acres'] = pd.to_numeric(park_data_df['park_acres'])

C:\Users\noahs\AppData\Local\Temp\ipykernel_20824\3279326740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_data_df['park_acres'] = pd.to_numeric(park_data_df['park_acres'])

In [9]:
#Identifying that the column contains a %
#!!!THIS STEP WILL ERROR BECAUSE IT HAS ALREADY BEEN COMPLETED!!!
park_data_df['percent_of_city_area'].str.contains('%').any()

True

In [10]:
#Replacing the % with no values
#!!!THIS STEP WILL ERROR BECAUSE IT HAS ALREADY BEEN COMPLETED!!!
park_data_df['percent_of_city_area'] = park_data_df['percent_of_city_area'].str.replace('%', '')

C:\Users\noahs\AppData\Local\Temp\ipykernel_20824\3203682287.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_data_df['percent_of_city_area'] = park_data_df['percent_of_city_area'].str.replace('%', '')

In [11]:
#Converting from object to numeric value 
#!!!THIS STEP WILL ERROR BECAUSE IT HAS ALREADY BEEN COMPLETED!!!
park_data_df['percent_of_city_area'] = pd.to_numeric(park_data_df['percent_of_city_area'])

C:\Users\noahs\AppData\Local\Temp\ipykernel_20824\803493929.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  park_data_df['percent_of_city_area'] = pd.to_numeric(park_data_df['percent_of_city_area'])

In [12]:
#Splitting the city and state into seperate columns
park_data_df[['city', 'state']] = park_data_df['CityState'].str.split(',', expand=True)

#droping the column we split as it is no longer needed
park_data_df = park_data_df.drop(columns=['CityState'], inplace=False)

In [13]:
#rearranging the table so that city and state come first
park_data_df =  park_data_df[['city', 'state', 'park_acres', 'percent_of_city_area']]
park_data_df

                 city state  park_acres  percent_of_city_area
0           Anchorage    AK      871795                    80
1             Fremont    CA       21957                    44
2          Chesapeake    VA       58693                    27
3          Scottsdale    AZ       31598                    27
4              Irvine    CA       11008                    26
..                ...   ...         ...                   ...
95               Mesa    AZ        2470                     3
96        Baton Rouge    LA        1455                     3
97            Lubbock    TX        2228                     3
98  Lexington/Fayette    KY        4447                     2
99            Hialeah    FL         238                     2

[100 rows x 4 columns]

In [14]:
#Identifying that there is a space before each state abbr.
park_data_df['state'].str.contains(' ').any()

True

In [16]:
#Removing the space in front of the state column entry data
park_data_df['state'] = park_data_df['state'].str.replace(' ', '')

In [17]:
#export tables to csv files for SQL
park_data_df.to_csv('csv_outputs//park_data.csv', index=False)