In [3]:
import pandas as pd
import pymongo
from pathlib import Path

In [4]:
# setting the mongo connection 
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [5]:
#establishing the database
db = client.green_spaces_and_health3

In [6]:
#creating the collection within the database
collection = db.green_spaces_and_health3

In [7]:
# defining file path
path = '..\\master_table_and_coords.csv'

In [8]:
#making the dataframe
data = pd.read_csv(path)

In [9]:
#See the columns and data type of the table
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   city                  95 non-null     object
 1   state                 95 non-null     object
 2   park_acres            95 non-null     int64
 3   percent_of_city_area  95 non-null     int64
 4   dv_data_value         95 non-null     float64
 5   ob_data_value         95 non-null     float64
 6   mh_data_value         95 non-null     float64
 7   lat                   95 non-null     float64
 8   lon                   95 non-null     float64
dtypes: float64(5), int64(2), object(2)
memory usage: 6.8+ KB

In [10]:
#dataframe
data

,city,state,park_acres,percent_of_city_area,dv_data_value,ob_data_value,mh_data_value,lat,lon
0,Albuquerque,NM,22157,19,59.4,27.2,14.2,35.1054,-106.6465
1,Anaheim,CA,4584,14,66.2,23.0,12.6,33.8390,-117.8574
2,Anchorage,AK,871795,80,54.2,34.1,11.0,61.1508,-149.1091
3,Arlington,TX,4321,7,68.4,34.2,13.3,32.6998,-97.1250
4,Atlanta,GA,5530,6,73.9,31.1,12.0,33.7628,-84.4220
...,...,...,...,...,...,...,...,...,...
90,Tulsa,OK,8580,7,67.6,36.6,16.0,36.1283,-95.9042
91,Virginia Beach,VA,25993,17,72.1,28.4,11.7,36.7335,-76.0435
92,Washington,DC,9296,24,78.4,26.7,11.1,38.9047,-77.0163
93,Wichita,KS,4327,4,66.7,34.2,13.8,37.6895,-97.3443
94,Winston-Salem,NC,3797,4,72.6,34.4,14.3,36.1029,-80.2610

In [13]:
#Inserting the data into the mongo database
#YOU ONLY NEED TO RUN THIS ONE TIME
db.green_spaces_and_health3.insert_many(data.to_dict('records'))

In [12]:
#USE THIS CODE BELOW IF THE FILE HAS BEEN RUN MORE THAN ONCE AND CAUSES DUPLICATES
# x = db.green_spaces_and_health3.delete_many({})
# print(x.deleted_count, "docs deleted")

285 docs deleted

In [18]:
#This is to drop Alaska from the dataset as it is an outlier
col = db.green_spaces_and_health3

x = { "state": "AK" }

col.delete_one(x)

In [14]:
#Listing the databases to ensure that it was made
print(client.list_database_names())

['AES', 'USPoliceShootingData', 'admin', 'classDB', 'config', 'epa', 'fruits_db', 'gardenDB', 'green_spaces_and_health', 'green_spaces_and_health2', 'green_spaces_and_health3', 'local', 'met', 'petsitly_marketing', 'test', 'travel_db', 'uk_foods']

In [15]:
#making sure the collection is created
print(db.list_collection_names())

['green_spaces_and_health3']

In [19]:
#Ensuring all the data is imported
for x in collection.find():
    print(x)

{'_id': ObjectId('6535c408fed94e0d5e01bbf3'), 'city': 'Albuquerque', 'state': 'NM', 'park_acres': 22157, 'percent_of_city_area': 19, 'dv_data_value': 59.4, 'ob_data_value': 27.2, 'mh_data_value': 14.2, 'lat': 35.1054, 'lon': -106.6465}
{'_id': ObjectId('6535c408fed94e0d5e01bbf4'), 'city': 'Anaheim', 'state': 'CA', 'park_acres': 4584, 'percent_of_city_area': 14, 'dv_data_value': 66.2, 'ob_data_value': 23.0, 'mh_data_value': 12.6, 'lat': 33.839, 'lon': -117.8574}
{'_id': ObjectId('6535c408fed94e0d5e01bbf6'), 'city': 'Arlington', 'state': 'TX', 'park_acres': 4321, 'percent_of_city_area': 7, 'dv_data_value': 68.4, 'ob_data_value': 34.2, 'mh_data_value': 13.3, 'lat': 32.6998, 'lon': -97.125}
{'_id': ObjectId('6535c408fed94e0d5e01bbf7'), 'city': 'Atlanta', 'state': 'GA', 'park_acres': 5530, 'percent_of_city_area': 6, 'dv_data_value': 73.9, 'ob_data_value': 31.1, 'mh_data_value': 12.0, 'lat': 33.7628, 'lon': -84.422}
{'_id': ObjectId('6535c408fed94e0d5e01bbf8'), 'city': 'Aurora', 'state': 'CO', 'park_acres': 10409, 'percent_of_city_area': 10, 'dv_data_value': 63.2, 'ob_data_value': 26.8, 'mh_data_value': 12.7, 'lat': 39.7083, 'lon': -104.7237}
{'_id': ObjectId('6535c408fed94e0d5e01bbf9'), 'city': 'Austin', 'state': 'TX', 'park_acres': 19069, 'percent_of_city_area': 11, 'dv_data_value': 65.5, 'ob_data_value': 26.5, 'mh_data_value': 11.6, 'lat': 30.3005, 'lon': -97.7522}
{'_id': ObjectId('6535c408fed94e0d5e01bbfa'), 'city': 'Bakersfield', 'state': 'CA', 'park_acres': 5364, 'percent_of_city_area': 6, 'dv_data_value': 66.0, 'ob_data_value': 29.5, 'mh_data_value': 14.2, 'lat': 35.3529, 'lon': -119.0359}
{'_id': ObjectId('6535c408fed94e0d5e01bbfb'), 'city': 'Baltimore', 'state': 'MD', 'park_acres': 5102, 'percent_of_city_area': 10, 'dv_data_value': 75.0, 'ob_data_value': 39.6, 'mh_data_value': 15.7, 'lat': 39.3051, 'lon': -76.6144}
{'_id': ObjectId('6535c408fed94e0d5e01bbfc'), 'city': 'Baton Rouge', 'state': 'LA', 'park_acres': 1455, 'percent_of_city_area': 3, 'dv_data_value': 74.9, 'ob_data_value': 37.7, 'mh_data_value': 16.6, 'lat': 30.442, 'lon': -91.1311}
{'_id': ObjectId('6535c408fed94e0d5e01bbfd'), 'city': 'Boston', 'state': 'MA', 'park_acres': 5160, 'percent_of_city_area': 18, 'dv_data_value': 74.7, 'ob_data_value': 26.7, 'mh_data_value': 13.7, 'lat': 42.3188, 'lon': -71.0852}
{'_id': ObjectId('6535c408fed94e0d5e01bbfe'), 'city': 'Buffalo', 'state': 'NY', 'park_acres': 2383, 'percent_of_city_area': 9, 'dv_data_value': 75.8, 'ob_data_value': 36.3, 'mh_data_value': 16.3, 'lat': 42.9018, 'lon': -78.8487}
{'_id': ObjectId('6535c408fed94e0d5e01bbff'), 'city': 'Chandler', 'state': 'AZ', 'park_acres': 1518, 'percent_of_city_area': 4, 'dv_data_value': 67.1, 'ob_data_value': 25.9, 'mh_data_value': 11.2, 'lat': 33.2825, 'lon': -111.8514}
{'_id': ObjectId('6535c408fed94e0d5e01bc00'), 'city': 'Chesapeake', 'state': 'VA', 'park_acres': 58693, 'percent_of_city_area': 27, 'dv_data_value': 75.2, 'ob_data_value': 35.0, 'mh_data_value': 12.6, 'lat': 36.6778, 'lon': -76.3023}
{'_id': ObjectId('6535c408fed94e0d5e01bc01'), 'city': 'Chicago', 'state': 'IL', 'park_acres': 13866, 'percent_of_city_area': 10, 'dv_data_value': 69.2, 'ob_data_value': 33.0, 'mh_data_value': 12.7, 'lat': 41.8375, 'lon': -87.6866}
{'_id': ObjectId('6535c408fed94e0d5e01bc02'), 'city': 'Chula Vista', 'state': 'CA', 'park_acres': 2482, 'percent_of_city_area': 8, 'dv_data_value': 67.8, 'ob_data_value': 24.1, 'mh_data_value': 11.7, 'lat': 32.6281, 'lon': -117.0144}
{'_id': ObjectId('6535c408fed94e0d5e01bc03'), 'city': 'Cincinnati', 'state': 'OH', 'park_acres': 8057, 'percent_of_city_area': 17, 'dv_data_value': 74.5, 'ob_data_value': 37.8, 'mh_data_value': 16.0, 'lat': 39.1413, 'lon': -84.506}
{'_id': ObjectId('6535c408fed94e0d5e01bc04'), 'city': 'Cleveland', 'state': 'OH', 'park_acres': 3311, 'percent_of_city_area': 7, 'dv_data_value': 75.4, 'ob_data_value': 41.2, 'mh_data_value': 18.2, 'lat': 41.4764, 'lon': -81.6805}
{'_id': ObjectId('6535c408fed94e0d5e01bc05'), 'city': 'Colorado Springs', 'state': 'CO', 'park_acres': 14785, 'percent_of_city_area': 12, 'dv_data_value': 62.1, 'ob_data_value': 23.3, 'mh_data_value': 12.6, 'lat': 38.8674, 'lon': -104.7605}
{'_id': ObjectId('6535c408fed94e0d5e01bc06'), 'city': 'Columbus', 'state': 'OH', 'park_acres': 14513, 'percent_of_city_area': 11, 'dv_data_value': 73.5, 'ob_data_value': 35.7, 'mh_data_value': 15.0, 'lat': 39.9862, 'lon': -82.9855}
{'_id': ObjectId('6535c408fed94e0d5e01bc07'), 'city': 'Corpus Christi', 'state': 'TX', 'park_acres': 7077, 'percent_of_city_area': 7, 'dv_data_value': 67.4, 'ob_data_value': 34.9, 'mh_data_value': 13.4, 'lat': 27.7254, 'lon': -97.3767}
{'_id': ObjectId('6535c408fed94e0d5e01bc08'), 'city': 'Dallas', 'state': 'TX', 'park_acres': 20835, 'percent_of_city_area': 10, 'dv_data_value': 68.1, 'ob_data_value': 35.2, 'mh_data_value': 14.1, 'lat': 32.7935, 'lon': -96.7667}
{'_id': ObjectId('6535c408fed94e0d5e01bc09'), 'city': 'Denver', 'state': 'CO', 'park_acres': 7028, 'percent_of_city_area': 9, 'dv_data_value': 58.4, 'ob_data_value': 21.4, 'mh_data_value': 11.4, 'lat': 39.762, 'lon': -104.8758}
{'_id': ObjectId('6535c408fed94e0d5e01bc0a'), 'city': 'Detroit', 'state': 'MI', 'park_acres': 5134, 'percent_of_city_area': 6, 'dv_data_value': 78.6, 'ob_data_value': 44.9, 'mh_data_value': 18.7, 'lat': 42.3834, 'lon': -83.1024}
{'_id': ObjectId('6535c408fed94e0d5e01bc0b'), 'city': 'Durham', 'state': 'NC', 'park_acres': 2755, 'percent_of_city_area': 4, 'dv_data_value': 74.1, 'ob_data_value': 32.2, 'mh_data_value': 12.6, 'lat': 35.9792, 'lon': -78.9022}
{'_id': ObjectId('6535c408fed94e0d5e01bc0c'), 'city': 'El Paso', 'state': 'TX', 'park_acres': 30012, 'percent_of_city_area': 18, 'dv_data_value': 65.5, 'ob_data_value': 35.7, 'mh_data_value': 13.2, 'lat': 31.8476, 'lon': -106.43}
{'_id': ObjectId('6535c408fed94e0d5e01bc0d'), 'city': 'Fort Worth', 'state': 'TX', 'park_acres': 13156, 'percent_of_city_area': 6, 'dv_data_value': 68.2, 'ob_data_value': 36.0, 'mh_data_value': 13.9, 'lat': 32.7817, 'lon': -97.3474}
{'_id': ObjectId('6535c408fed94e0d5e01bc0e'), 'city': 'Fremont', 'state': 'CA', 'park_acres': 21957, 'percent_of_city_area': 44, 'dv_data_value': 65.5, 'ob_data_value': 16.5, 'mh_data_value': 8.4, 'lat': 37.5265, 'lon': -121.9843}
{'_id': ObjectId('6535c408fed94e0d5e01bc0f'), 'city': 'Fresno', 'state': 'CA', 'park_acres': 3429, 'percent_of_city_area': 5, 'dv_data_value': 64.6, 'ob_data_value': 31.2, 'mh_data_value': 14.8, 'lat': 36.783, 'lon': -119.7939}
{'_id': ObjectId('6535c408fed94e0d5e01bc10'), 'city': 'Garland', 'state': 'TX', 'park_acres': 2951, 'percent_of_city_area': 8, 'dv_data_value': 67.1, 'ob_data_value': 32.0, 'mh_data_value': 13.9, 'lat': 32.91, 'lon': -96.6304}
{'_id': ObjectId('6535c408fed94e0d5e01bc11'), 'city': 'Gilbert', 'state': 'AZ', 'park_acres': 1284, 'percent_of_city_area': 3, 'dv_data_value': 66.9, 'ob_data_value': 25.0, 'mh_data_value': 10.9, 'lat': 33.31, 'lon': -111.7463}
{'_id': ObjectId('6535c408fed94e0d5e01bc12'), 'city': 'Glendale', 'state': 'AZ', 'park_acres': 2100, 'percent_of_city_area': 5, 'dv_data_value': 66.4, 'ob_data_value': 31.0, 'mh_data_value': 14.2, 'lat': 33.5791, 'lon': -112.2311}
{'_id': ObjectId('6535c408fed94e0d5e01bc13'), 'city': 'Greensboro', 'state': 'NC', 'park_acres': 8795, 'percent_of_city_area': 10, 'dv_data_value': 74.1, 'ob_data_value': 34.0, 'mh_data_value': 13.5, 'lat': 36.0956, 'lon': -79.8271}
{'_id': ObjectId('6535c408fed94e0d5e01bc14'), 'city': 'Henderson', 'state': 'NV', 'park_acres': 5504, 'percent_of_city_area': 8, 'dv_data_value': 65.8, 'ob_data_value': 24.4, 'mh_data_value': 12.3, 'lat': 36.0133, 'lon': -115.0381}
{'_id': ObjectId('6535c408fed94e0d5e01bc15'), 'city': 'Hialeah', 'state': 'FL', 'park_acres': 238, 'percent_of_city_area': 2, 'dv_data_value': 71.0, 'ob_data_value': 34.2, 'mh_data_value': 15.6, 'lat': 25.8696, 'lon': -80.3045}
{'_id': ObjectId('6535c408fed94e0d5e01bc16'), 'city': 'Honolulu', 'state': 'HI', 'park_acres': 64795, 'percent_of_city_area': 17, 'dv_data_value': 71.3, 'ob_data_value': 23.8, 'mh_data_value': 10.5, 'lat': 21.3294, 'lon': -157.846}
{'_id': ObjectId('6535c408fed94e0d5e01bc17'), 'city': 'Houston', 'state': 'TX', 'park_acres': 43486, 'percent_of_city_area': 12, 'dv_data_value': 69.5, 'ob_data_value': 34.4, 'mh_data_value': 13.4, 'lat': 29.786, 'lon': -95.3885}
{'_id': ObjectId('6535c408fed94e0d5e01bc18'), 'city': 'Irvine', 'state': 'CA', 'park_acres': 11008, 'percent_of_city_area': 26, 'dv_data_value': 67.7, 'ob_data_value': 16.1, 'mh_data_value': 9.2, 'lat': 33.6772, 'lon': -117.7738}
{'_id': ObjectId('6535c408fed94e0d5e01bc19'), 'city': 'Irving', 'state': 'TX', 'park_acres': 1988, 'percent_of_city_area': 5, 'dv_data_value': 67.2, 'ob_data_value': 30.5, 'mh_data_value': 12.8, 'lat': 32.8583, 'lon': -96.9702}
{'_id': ObjectId('6535c408fed94e0d5e01bc1a'), 'city': 'Jacksonville', 'state': 'FL', 'park_acres': 84324, 'percent_of_city_area': 18, 'dv_data_value': 73.2, 'ob_data_value': 32.7, 'mh_data_value': 14.4, 'lat': 30.3322, 'lon': -81.6749}
{'_id': ObjectId('6535c408fed94e0d5e01bc1b'), 'city': 'Jersey City', 'state': 'NJ', 'park_acres': 1091, 'percent_of_city_area': 12, 'dv_data_value': 76.5, 'ob_data_value': 27.9, 'mh_data_value': 12.6, 'lat': 40.7184, 'lon': -74.0686}
{'_id': ObjectId('6535c408fed94e0d5e01bc1c'), 'city': 'Kansas City', 'state': 'MO', 'park_acres': 18816, 'percent_of_city_area': 10, 'dv_data_value': 70.8, 'ob_data_value': 35.7, 'mh_data_value': 14.2, 'lat': 39.1238, 'lon': -94.5541}
{'_id': ObjectId('6535c408fed94e0d5e01bc1d'), 'city': 'Laredo', 'state': 'TX', 'park_acres': 2432, 'percent_of_city_area': 4, 'dv_data_value': 65.9, 'ob_data_value': 42.8, 'mh_data_value': 15.1, 'lat': 27.5625, 'lon': -99.4874}
{'_id': ObjectId('6535c408fed94e0d5e01bc1e'), 'city': 'Las Vegas', 'state': 'NV', 'park_acres': 16010, 'percent_of_city_area': 18, 'dv_data_value': 66.0, 'ob_data_value': 28.0, 'mh_data_value': 13.9, 'lat': 36.2333, 'lon': -115.2654}
{'_id': ObjectId('6535c408fed94e0d5e01bc1f'), 'city': 'Lincoln', 'state': 'NE', 'park_acres': 3808, 'percent_of_city_area': 6, 'dv_data_value': 64.2, 'ob_data_value': 31.4, 'mh_data_value': 10.9, 'lat': 40.8099, 'lon': -96.6784}
{'_id': ObjectId('6535c408fed94e0d5e01bc20'), 'city': 'Long Beach', 'state': 'CA', 'park_acres': 3034, 'percent_of_city_area': 10, 'dv_data_value': 67.5, 'ob_data_value': 25.2, 'mh_data_value': 12.7, 'lat': 33.7977, 'lon': -118.167}
{'_id': ObjectId('6535c408fed94e0d5e01bc21'), 'city': 'Los Angeles', 'state': 'CA', 'park_acres': 39626, 'percent_of_city_area': 13, 'dv_data_value': 66.9, 'ob_data_value': 25.6, 'mh_data_value': 12.8, 'lat': 34.1141, 'lon': -118.4068}
{'_id': ObjectId('6535c408fed94e0d5e01bc22'), 'city': 'Louisville', 'state': 'KY', 'park_acres': 17922, 'percent_of_city_area': 9, 'dv_data_value': 75.3, 'ob_data_value': 34.5, 'mh_data_value': 14.9, 'lat': 38.1663, 'lon': -85.6485}
{'_id': ObjectId('6535c408fed94e0d5e01bc23'), 'city': 'Lubbock', 'state': 'TX', 'park_acres': 2228, 'percent_of_city_area': 3, 'dv_data_value': 65.4, 'ob_data_value': 35.6, 'mh_data_value': 14.1, 'lat': 33.5657, 'lon': -101.8879}
{'_id': ObjectId('6535c408fed94e0d5e01bc24'), 'city': 'Madison', 'state': 'WI', 'park_acres': 7145, 'percent_of_city_area': 14, 'dv_data_value': 65.8, 'ob_data_value': 27.5, 'mh_data_value': 10.8, 'lat': 43.0822, 'lon': -89.393}
{'_id': ObjectId('6535c408fed94e0d5e01bc25'), 'city': 'Memphis', 'state': 'TN', 'park_acres': 11163, 'percent_of_city_area': 6, 'dv_data_value': 73.1, 'ob_data_value': 38.9, 'mh_data_value': 15.8, 'lat': 35.1087, 'lon': -89.9663}
{'_id': ObjectId('6535c408fed94e0d5e01bc26'), 'city': 'Mesa', 'state': 'AZ', 'park_acres': 2470, 'percent_of_city_area': 3, 'dv_data_value': 66.2, 'ob_data_value': 29.7, 'mh_data_value': 13.5, 'lat': 33.4015, 'lon': -111.7178}
{'_id': ObjectId('6535c408fed94e0d5e01bc27'), 'city': 'Miami', 'state': 'FL', 'park_acres': 1639, 'percent_of_city_area': 7, 'dv_data_value': 72.6, 'ob_data_value': 33.4, 'mh_data_value': 15.0, 'lat': 25.784, 'lon': -80.2101}
{'_id': ObjectId('6535c408fed94e0d5e01bc28'), 'city': 'Milwaukee', 'state': 'WI', 'park_acres': 5591, 'percent_of_city_area': 9, 'dv_data_value': 73.6, 'ob_data_value': 36.2, 'mh_data_value': 15.3, 'lat': 43.0642, 'lon': -87.9675}
{'_id': ObjectId('6535c408fed94e0d5e01bc29'), 'city': 'Minneapolis', 'state': 'MN', 'park_acres': 5078, 'percent_of_city_area': 15, 'dv_data_value': 69.1, 'ob_data_value': 27.5, 'mh_data_value': 10.7, 'lat': 44.9635, 'lon': -93.2678}
{'_id': ObjectId('6535c408fed94e0d5e01bc2a'), 'city': 'New Orleans', 'state': 'LA', 'park_acres': 24737, 'percent_of_city_area': 23, 'dv_data_value': 73.0, 'ob_data_value': 36.1, 'mh_data_value': 15.5, 'lat': 30.0687, 'lon': -89.9288}
{'_id': ObjectId('6535c408fed94e0d5e01bc2b'), 'city': 'New York', 'state': 'NY', 'park_acres': 39796, 'percent_of_city_area': 21, 'dv_data_value': 74.3, 'ob_data_value': 24.7, 'mh_data_value': 12.9, 'lat': 40.6943, 'lon': -73.9249}
{'_id': ObjectId('6535c408fed94e0d5e01bc2c'), 'city': 'Newark', 'state': 'NJ', 'park_acres': 851, 'percent_of_city_area': 6, 'dv_data_value': 76.7, 'ob_data_value': 39.2, 'mh_data_value': 16.4, 'lat': 40.7245, 'lon': -74.1725}
{'_id': ObjectId('6535c408fed94e0d5e01bc2d'), 'city': 'Norfolk', 'state': 'VA', 'park_acres': 1792, 'percent_of_city_area': 5, 'dv_data_value': 74.4, 'ob_data_value': 35.9, 'mh_data_value': 13.8, 'lat': 36.8945, 'lon': -76.259}
{'_id': ObjectId('6535c408fed94e0d5e01bc2e'), 'city': 'North Las Vegas', 'state': 'NV', 'park_acres': 16705, 'percent_of_city_area': 26, 'dv_data_value': 67.1, 'ob_data_value': 29.6, 'mh_data_value': 14.4, 'lat': 36.2883, 'lon': -115.0888}
{'_id': ObjectId('6535c408fed94e0d5e01bc2f'), 'city': 'Oakland', 'state': 'CA', 'park_acres': 4927, 'percent_of_city_area': 15, 'dv_data_value': 66.3, 'ob_data_value': 26.7, 'mh_data_value': 12.4, 'lat': 37.7904, 'lon': -122.2166}
{'_id': ObjectId('6535c408fed94e0d5e01bc30'), 'city': 'Oklahoma City', 'state': 'OK', 'park_acres': 18588, 'percent_of_city_area': 5, 'dv_data_value': 67.0, 'ob_data_value': 34.4, 'mh_data_value': 15.4, 'lat': 35.4676, 'lon': -97.5136}
{'_id': ObjectId('6535c408fed94e0d5e01bc31'), 'city': 'Omaha', 'state': 'NE', 'park_acres': 10336, 'percent_of_city_area': 12, 'dv_data_value': 67.5, 'ob_data_value': 34.0, 'mh_data_value': 12.1, 'lat': 41.2627, 'lon': -96.0529}
{'_id': ObjectId('6535c408fed94e0d5e01bc32'), 'city': 'Orlando', 'state': 'FL', 'park_acres': 3411, 'percent_of_city_area': 5, 'dv_data_value': 72.2, 'ob_data_value': 30.5, 'mh_data_value': 14.0, 'lat': 28.4773, 'lon': -81.337}
{'_id': ObjectId('6535c408fed94e0d5e01bc33'), 'city': 'Philadelphia', 'state': 'PA', 'park_acres': 10797, 'percent_of_city_area': 13, 'dv_data_value': 74.0, 'ob_data_value': 34.1, 'mh_data_value': 16.1, 'lat': 40.0077, 'lon': -75.1339}
{'_id': ObjectId('6535c408fed94e0d5e01bc34'), 'city': 'Phoenix', 'state': 'AZ', 'park_acres': 51020, 'percent_of_city_area': 16, 'dv_data_value': 66.4, 'ob_data_value': 31.0, 'mh_data_value': 13.9, 'lat': 33.5722, 'lon': -112.0892}
{'_id': ObjectId('6535c408fed94e0d5e01bc35'), 'city': 'Pittsburgh', 'state': 'PA', 'park_acres': 4975, 'percent_of_city_area': 14, 'dv_data_value': 71.5, 'ob_data_value': 31.9, 'mh_data_value': 13.9, 'lat': 40.4397, 'lon': -79.9763}
{'_id': ObjectId('6535c408fed94e0d5e01bc36'), 'city': 'Plano', 'state': 'TX', 'park_acres': 4588, 'percent_of_city_area': 10, 'dv_data_value': 67.1, 'ob_data_value': 26.7, 'mh_data_value': 9.9, 'lat': 33.0502, 'lon': -96.7486}
{'_id': ObjectId('6535c408fed94e0d5e01bc37'), 'city': 'Portland', 'state': 'OR', 'park_acres': 14662, 'percent_of_city_area': 18, 'dv_data_value': 59.3, 'ob_data_value': 25.1, 'mh_data_value': 13.6, 'lat': 45.5371, 'lon': -122.65}
{'_id': ObjectId('6535c408fed94e0d5e01bc38'), 'city': 'Raleigh', 'state': 'NC', 'park_acres': 11804, 'percent_of_city_area': 12, 'dv_data_value': 75.4, 'ob_data_value': 31.5, 'mh_data_value': 11.8, 'lat': 35.8324, 'lon': -78.6429}
{'_id': ObjectId('6535c408fed94e0d5e01bc39'), 'city': 'Reno', 'state': 'NV', 'park_acres': 3390, 'percent_of_city_area': 5, 'dv_data_value': 63.1, 'ob_data_value': 24.6, 'mh_data_value': 14.0, 'lat': 39.5497, 'lon': -119.8483}
{'_id': ObjectId('6535c408fed94e0d5e01bc3a'), 'city': 'Richmond', 'state': 'VA', 'park_acres': 2755, 'percent_of_city_area': 7, 'dv_data_value': 72.8, 'ob_data_value': 35.8, 'mh_data_value': 14.3, 'lat': 37.5295, 'lon': -77.4756}
{'_id': ObjectId('6535c408fed94e0d5e01bc3b'), 'city': 'Riverside', 'state': 'CA', 'park_acres': 3976, 'percent_of_city_area': 8, 'dv_data_value': 66.2, 'ob_data_value': 28.9, 'mh_data_value': 13.9, 'lat': 33.9381, 'lon': -117.3949}
{'_id': ObjectId('6535c408fed94e0d5e01bc3c'), 'city': 'Sacramento', 'state': 'CA', 'park_acres': 6747, 'percent_of_city_area': 11, 'dv_data_value': 67.2, 'ob_data_value': 30.7, 'mh_data_value': 13.5, 'lat': 38.5677, 'lon': -121.4685}
{'_id': ObjectId('6535c408fed94e0d5e01bc3d'), 'city': 'San Antonio', 'state': 'TX', 'park_acres': 32001, 'percent_of_city_area': 10, 'dv_data_value': 64.3, 'ob_data_value': 35.0, 'mh_data_value': 13.6, 'lat': 29.4632, 'lon': -98.5238}
{'_id': ObjectId('6535c408fed94e0d5e01bc3e'), 'city': 'San Diego', 'state': 'CA', 'park_acres': 40122, 'percent_of_city_area': 19, 'dv_data_value': 67.8, 'ob_data_value': 22.4, 'mh_data_value': 11.3, 'lat': 32.8313, 'lon': -117.1222}
{'_id': ObjectId('6535c408fed94e0d5e01bc3f'), 'city': 'San Francisco', 'state': 'CA', 'park_acres': 6164, 'percent_of_city_area': 21, 'dv_data_value': 67.3, 'ob_data_value': 17.9, 'mh_data_value': 10.2, 'lat': 37.7558, 'lon': -122.4449}
{'_id': ObjectId('6535c408fed94e0d5e01bc40'), 'city': 'San Jose', 'state': 'CA', 'park_acres': 15221, 'percent_of_city_area': 14, 'dv_data_value': 62.9, 'ob_data_value': 20.1, 'mh_data_value': 10.3, 'lat': 37.3012, 'lon': -121.848}
{'_id': ObjectId('6535c408fed94e0d5e01bc41'), 'city': 'Santa Ana', 'state': 'CA', 'park_acres': 600, 'percent_of_city_area': 3, 'dv_data_value': 65.3, 'ob_data_value': 26.3, 'mh_data_value': 14.4, 'lat': 33.7367, 'lon': -117.8819}
{'_id': ObjectId('6535c408fed94e0d5e01bc42'), 'city': 'Santa Clarita', 'state': 'CA', 'park_acres': 9723, 'percent_of_city_area': 21, 'dv_data_value': 66.5, 'ob_data_value': 22.1, 'mh_data_value': 11.3, 'lat': 34.4175, 'lon': -118.4964}
{'_id': ObjectId('6535c408fed94e0d5e01bc43'), 'city': 'Scottsdale', 'state': 'AZ', 'park_acres': 31598, 'percent_of_city_area': 27, 'dv_data_value': 66.7, 'ob_data_value': 24.5, 'mh_data_value': 10.5, 'lat': 33.6872, 'lon': -111.8651}
{'_id': ObjectId('6535c408fed94e0d5e01bc44'), 'city': 'Seattle', 'state': 'WA', 'park_acres': 6480, 'percent_of_city_area': 12, 'dv_data_value': 63.5, 'ob_data_value': 21.1, 'mh_data_value': 11.2, 'lat': 47.6211, 'lon': -122.3244}
{'_id': ObjectId('6535c408fed94e0d5e01bc45'), 'city': 'Spokane', 'state': 'WA', 'park_acres': 3670, 'percent_of_city_area': 9, 'dv_data_value': 62.1, 'ob_data_value': 30.1, 'mh_data_value': 15.2, 'lat': 47.6671, 'lon': -117.433}
{'_id': ObjectId('6535c408fed94e0d5e01bc46'), 'city': 'St. Louis', 'state': 'MO', 'park_acres': 3889, 'percent_of_city_area': 10, 'dv_data_value': 74.7, 'ob_data_value': 36.4, 'mh_data_value': 14.9, 'lat': 38.6359, 'lon': -90.2451}
{'_id': ObjectId('6535c408fed94e0d5e01bc47'), 'city': 'St. Paul', 'state': 'MN', 'park_acres': 4973, 'percent_of_city_area': 15, 'dv_data_value': 69.3, 'ob_data_value': 28.6, 'mh_data_value': 12.0, 'lat': 44.9478, 'lon': -93.1039}
{'_id': ObjectId('6535c408fed94e0d5e01bc48'), 'city': 'St. Petersburg', 'state': 'FL', 'park_acres': 5343, 'percent_of_city_area': 14, 'dv_data_value': 72.5, 'ob_data_value': 29.7, 'mh_data_value': 14.4, 'lat': 27.7931, 'lon': -82.6652}
{'_id': ObjectId('6535c408fed94e0d5e01bc49'), 'city': 'Stockton', 'state': 'CA', 'park_acres': 1199, 'percent_of_city_area': 3, 'dv_data_value': 68.3, 'ob_data_value': 31.7, 'mh_data_value': 14.4, 'lat': 37.9765, 'lon': -121.3109}